---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ups - 404">
  <h1>Parece que nos hemos desviado</h1>
  <iframe src="/this-is-fine.gif" frameborder="0" width="800px" height="300px"
  ></iframe>
</Layout>
