---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Autoservicio Andres">
  <main>
    <div>
      <h2>Servicios</h2>
    </div>
    <hr />
    <div>
      <h2>Productos Destacados</h2>
    </div>
  </main>
</Layout>
