---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Register">
  <main>
    <div>
      <form action="">
        <input type="text" name="nombre" id="" placeholder="Nombre" />
        <input
          type="text"
          name="apellido"
          id=""
          placeholder="Ingrese su apellido"
        />
        <input
          type="number"
          name="numero"
          id=""
          placeholder="Ingrese su numero de telefono"
        />
        <input
          type="email"
          name="mail"
          id=""
          placeholder="Ingrese su correo electronico"
        />
      </form>
    </div>
  </main>
</Layout>
