<footer>
  <div>
    <div>
      <h2 class="text-white">Ubicación</h2>
      <iframe
        name="Ubicacion"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.8816387524994!2d-68.81526981688499!3d-32.87485092371999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e08d54a907c4f%3A0xbc5e897629f203a6!2sAv.%20Mitre%202707%2C%20M5519%20Mendoza!5e0!3m2!1ses!2sar!4v1665355296938!5m2!1ses!2sar"
        width="300"
        height="150"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</footer>
